.git
.gitignore
.docker
node_modules
**/node_modules
dist
coverage
apps/web/.next
apps/web/out
apps/mobile-flutter/.dart_tool
apps/mobile-flutter/build
apps/mobile-flutter/.packages
apps/mobile-flutter/.flutter-plugins
apps/mobile-flutter/.flutter-plugins-dependencies
logs
*.log
.env
.env.*
.idea
.vscode
.DS_Store
